@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif;

}

/* .container {
  display:grid;
  align-items: stretch;
  justify-content: stretch;
  align-content: stretch;
  justify-items: stretch;
  grid-template-areas: 
  ". header ."
  ". side ."
  ". main . ";
  grid-template-rows: minmax(100px, auto) ;
  grid-template-columns: 1 1 1;
} */
.title {
  grid-area:header;
  display:flex;
  flex: 1 1 auto;
  width: 70%;
  height: 4rem;
  background-color: #34d399;
  margin: auto;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 0;
  padding: 1rem;
}
.title-contents {
  width: fit-content;
  font-size: 2rem;
}
.titleToday {
  text-align: right;
  display: inline;
  background-color: blue;
  width: 20%;
}
.side {
  grid-area: side;
  display: flex;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #34d399;
  flex-grow: 1;
  padding: .5rem;
  justify-content: space-around;
}
.chooseDay {
  text-align: center;
  font-size: 1.2rem;
  border-width: 3px white;
  border-style: solid;
  width: 12%;
  height: 2rem;
  border-radius: 10px;
}
.chooseDay:hover {
  background-color: white;
}
.chooseDay:active {
  border: white;
}
.selectedTrash {
  list-style: none;
}

.selectedBox {
  display: block;
  margin: auto;
  width: 70%;
  justify-content: center;
  align-items: center;
  height: 60%;
  /* background-color: #34d399; */
  border: 1px solid black;
  border-radius: 10px;
  padding: 1rem;
}

.selectedDay {
  font-size: 2rem;
}
.selectedTrash {
  font-size: 1.5rem;
}