@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'Noto Sans KR', sans-serif;

}

.title {
  display: flex;
  width: 100%;
  padding: 10px;
}
.title-contents {
  width: 80%;
  height: 10%;
  font-size: 2rem;
}
.title-today {
  width: 15%;
  text-align: end;
}
/* .side {
  display: inline-flex;
  flex-direction: row;
  width: 100%;
  padding: 10px;
}
.chooseDay {
  text-align: center;
  width:12.5%;
  background-color: yellow;
  padding: 5px;
  
}
.chooseDay:hover {
  background-color: red;
}

.selectedBox {
 padding: 20px;
} */